<!--<script src="vue.js"></script>-->
<!--<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>-->
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
<link rel="stylesheet" href="p.css">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
<style>
        a{
        font-weight:bolder;
        color:black;
    }
    .title{
        font-size:xx-large;
        color:black;
    }
   span{
        font-size:large;
    }
    input{
        width:90%;
        height:8%;
        font-size: x-large;
        border-radius:50px;
   }
    .infoBook{
        font-size:large;
    }
</style>
<div id="app">

    <div class=" text-center">

        <input v-model="search"  v-on:keyup.enter="location.href=value+'='+search"> <a :href="value+'='+search" class="fas fa-search"  ></a> 
       <!-- <button  @click="bo()" class="btn-primary">cerca</button>-->
      <!--  <select v-model="select">

            <option value="https://www.ibs.it/search/?ts=as&query=" selected> ibs </option>
            <option value="https://www.lafeltrinelli.it/fcom/it/home/pages/catalogo/searchresults.html?prkw="> laFeltrinelli </option>
            <option value="https://www.mondadoristore.it/search/?g=">mondadori</option>
            <option value=" xHamster">Yahoo</option>
            <option value=" RedTube ">Yahoo</option>
            <option value=" youporn ">Yahoo</option>

        </select>
        <button @click="go()" class="btn-info">vai al sito</button><br>-->

    </div>

    <div class="container-fluid">
<libri inline-template v-for="item in json.items">
     <div>
                <div class="row">

                
                    <!--<div >-->
                        <img class="col-sm-4 col-md-2 col-4"  v-if="item.volumeInfo.imageLinks!==undefined" :src="item.volumeInfo.imageLinks.thumbnail">
                        <div v-else> non img</div>
                    <!--</div>-->

                     <div class="col-sm-8 col-md-10 col-8" >

                        <a :href="value+'='+item.volumeInfo.title" class=title>{{item.volumeInfo.title}}</a><br>
                        <span v-for="autore in item.volumeInfo.authors" class="authors">
                            <a :href="value+'='+autore">{{autore}}    </a>   
                        </span> <br>
                        <div>
                            
                            <span class="col-2" v-if="item.saleInfo.pageCount!==undefined" > 
                                numero pagine: {{item.volumeInfo.pageCount}} 
                            </span>
                            <span  v-if="item.saleInfo.listPrice!==undefined" class="col-2">
                                prezzo: {{item.saleInfo.listPrice.amount}}  {{item.saleInfo.listPrice.currencyCode}}
                            </span><br>

                            <button  v-if="item.volumeInfo.description!==undefined"class="btn-info" @click="riassunto=!riassunto">\/</button>
                        </div>
                       
                  
                    </div>
                </div>
                <p v-if="riassunto" class="infoBook">
                    {{item.volumeInfo.description}}
                </p>
            </div>
        </libri>
    

    </div>

</div>
<script type="text/javascript" src="p.js"></script>
